In [1]:
import pandas as pd
import numpy as np

In [2]:
salary_train = pd.read_csv("C://data science//data sets//SalaryData_Train.csv")

In [3]:
salary_test = pd.read_csv("C://data science//data sets//SalaryData_Test.csv")

In [4]:
string_columns = ["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

In [5]:
##Preprocessing the data. As, there are categorical variables
from sklearn.preprocessing import LabelEncoder
number = LabelEncoder()
for i in string_columns:
    salary_train[i]= number.fit_transform(salary_train[i])
    salary_test[i]=number.fit_transform(salary_test[i])

In [6]:
##Capturing the column names which can help in futher process
colnames = salary_train.columns
colnames
len(colnames)

14

In [7]:
x_train = salary_train[colnames[0:13]]
y_train = salary_train[colnames[13]]
x_test = salary_test[colnames[0:13]]
y_test = salary_test[colnames[13]]

In [8]:
##Building Multinomial Naive Bayes model
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [9]:
##Building the Multinomial Naive Bayes Model
classifier_mb = MB()
classifier_mb.fit(x_train,y_train)
pred_mb = classifier_mb.predict(x_train)

In [11]:
accuracy_mb_train = np.mean(pred_mb == y_train)
accuracy_mb_train

0.7729186698053778

In [12]:
pd.crosstab(pred_mb, y_train)

Salary   <=50K   >50K
row_0
 <=50K   21717   5913
 >50K      936   1595

In [13]:
##for test data
pred_mb_test = classifier_mb.predict(x_test)
accuracy_mb_test = np.mean(pred_mb_test == y_test)
accuracy_mb_test

0.7749667994687915

In [14]:
pd.crosstab(pred_mb_test, y_test)

Salary   <=50K   >50K
row_0
 <=50K   10891   2920
 >50K      469    780

In [15]:
##Building Gaussian model
classifier_gb = GB()
classifier_gb.fit(x_train, y_train)
pred_gb = classifier_gb.predict(x_train)
accuracy_gb_train = np.mean(pred_gb == y_train)
accuracy_gb_train

0.7953317197705646

In [16]:
pd.crosstab(pred_gb,y_train)

Salary   <=50K   >50K
row_0
 <=50K   21505   5025
 >50K     1148   2483

In [17]:
#for test data
pred_gb_train = classifier_gb.predict(x_test)
accuracy_gb_test = np.mean(pred_gb_train == y_test)
accuracy_gb_test

0.7946879150066402

In [18]:
pd.crosstab(pred_gb_train,y_test)

Salary   <=50K   >50K
row_0
 <=50K   10759   2491
 >50K      601   1209